
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fruktur&family=Kalam:wght@700&family=Lobster&family=Open+Sans&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kumbh+Sans:wght@400;500&family=Righteous&display=swap');

html{
   scroll-behavior: smooth;
}
body{
   
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    background-color: rgb(247, 241, 241);
    position: relative;
    justify-content: center;
    align-items: center;
}




#heading{
  width: 100vw;
  height: 100vh;
background-image: url("././images/cold-watermelon-smoothie-dark-background.jpg");
background-repeat: no-repeat;/*shows the image only once*/
background-attachment: fixed;/*prevents the image from scrolling*/
background-position: center center;/*center the image horizontally and vertically*/


background-size: cover;

padding: 0;
margin: 0;



}



.smoothie-containers{
 display: flex;
 margin: 0rem 5rem;
    
}

.options{
    height: 400px;
    width: 400px;
    background-color: rgba(255, 162, 162, 0.685);
    margin: 3rem 2rem;
    border-radius: 50px;
    box-shadow: 0px 1px rgb(100, 100, 100);
}

.navigation-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
    position: sticky;
    z-index: 99;
    width: 100vw;
    
}

#logo a{
    position: absolute;
   left: 5.5rem;
    color: white;
    text-decoration: none;
}


.nav-container{
    display:flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}


.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    list-style-type: none;
    position: absolute;
    left: 68%;
   
 

}
.nav-links{
    height: 100px;
}

.links{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    text-decoration: none;
    font-size: .9rem;
    color: white;
    font-weight: 550;

}

.links:hover{
    color: rgb(241, 71, 71);
}

#title h1{
    font-size: 3rem;
    color: white;
    margin-left: 2px;
    line-height: 50px;
    margin-bottom: 5px;
    
}

#title #second{
    margin-bottom: 70px;
}

#title{
    position: absolute;
    top: 150px;
    left: 70px;
 
   
   
    
    
}

#title .text{
    width: 450px;
    margin-left: -50px;
    line-height: 30px;
    height: 200px;
    text-align: left;
    margin-top: 10px;

}




.text p{
    color: white;
    font-size: 17px;
    word-wrap: break-word;
    margin-left: 50px;
    line-height: 40px;

   

    
   
}




#click{
    padding: .5rem 1.5rem;
    position: absolute;
    top: 620px;
    left: 80px;

  cursor: pointer;
  background-color: white;
 
  border-radius: 50px;
  border: none;
  margin-top: 100px;
  overflow: hidden;

  

  
}

#click p{
    font-size: 15px;
    color: red; 
    z-index: 1;
    font-weight: 700;

}
#slide{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(248, 114, 114, 0.76);
    opacity: 0.4;
    z-index: 1;
    position: absolute;
    top: -0.5px;
    left: -200px;
    text-align: center;
    padding-top: 10px;
    transition: all 0.7s ease;
  


}


#click:hover #slide{
    left:  .5px;
}

#about-info{
    display:flex;
    width: 100%;
    height: 500px;
    padding: 1.5rem 5rem;
    margin-bottom: 20px;
   
    
}

#about-info h1{
    font-size: 25px;
    color: white;
}
#about-pic{
   
    border-radius: 50%;
   
    

}
#info{
width: 60%;
line-height: 30px;
color: rgb(255, 55, 5);
font-size: 15px;
background-color: pink;

padding: 4rem;
height: 630px;





}

#urgent{
    font-weight:800;
    font-style: italic;
}
#smoothie{
    height: 90%;
    width: auto;
    animation: move infinite 5s;
    padding-top: 3rem;
    margin: 0;
   
}



#smoothie-gallery{
    width: 100%;
    height: 80%;
    margin-top: 200px;
    position: relative;
   
}

#info h1{
    font-size:30px;
    color: rgb(255, 55, 5);
}

@keyframes move{
    0%{
        transform: translateX(0px) translateY(20px);
    }

    100%{
        transform: translateX(0px) translateY(-20px);
    }
}

/*@media screen and (max-width:960px){
    .nav-container{
        display:flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1300px;
        height: 80px;
    }

  .nav-items{
   display:grid;
   grid-template-columns: auto;
   width: 100vw;
   max-width: 960px;
   background-color: red;
   opacity: 1;
   height: 52vh;
   transition: all 0.5s ease;
  top:-20px;
   opacity: 0.5;
   position: absolute;

    
  } 

  
}*/

@media only screen and (max-width:960px){
    body{
        margin: 0;
        padding: 0;
    }
.nav-container{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    height: 80px;
    margin:0;
}

.nav-items{
    display:grid;
    grid-template-columns: auto;
    position: absolute;
    height: 52vh;
    width: 100%;
    background-color: black;
    margin-top: 250px;
    left: -2%;
    transition: all 0.5s ease;
  opacity: 0;
    
}
#title-container{
    margin-top: -10px;
    padding-right: -10px;
  
   
}
#title .headings{
    font-size: 22px;
    line-height: 30px;

margin-top: 5px;
    
}

#title .text{
    width: 260px;

    
    line-height: 30px;
    height: 150px;
    top: 10px;
    position: absolute;
    
}

.text p{
   
   
    font-size: 12px;
   word-wrap: break-word;
   font-weight: 500;
   text-align: left;
   position: absolute;
   top: 100px;
    
}


#click{
    padding: .2rem .6rem;
    margin-left: 1px;
    margin-top: -85px;
    
}

#click p {
    font-size: 13px;
    font-weight: 800;
    
}


}

.about{
    width: 100%;
    max-width: 1440px;
    height: 1000px;
    
   
    padding: 2rem 5rem;
}
.row{
    width: 90%;
    height: 30%;
    
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 5rem 8rem;

   
}
.column{
    width: 22%;
    height: 300px;
    background-color: transparent;
    position: relative;
   
   
    

    
    
}

.column:hover .card{
    transform: translateX(90px) rotateY(0.5turn);
}

.card{
    width: 100%;
    height: 100%;
   
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    top: -18px;
    left: -40px;
    cursor: pointer;
  
   


}
.front,.back{ 
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
position: absolute;


}
.front{
    
    width:  100%;
    height: 100%;
    box-shadow: 2px 2px rgb(148, 148, 148);
   
    
}
.back{
    background-image: linear-gradient(to top, rgb(252, 70, 57) 50%, white 50%);
    width:  100%;
    height: 100%;
    
    transform: rotateY(0.5turn);
    padding: 1rem;
    text-align: center;
    box-shadow: 2px 2px rgb(148, 148, 148);

}
.typing{
    text-align: center;
    color: red;
    font-weight: 900;
    font-size: 40px;
    font-style: italic;
  
   padding-top: 4rem;
   width: 100%;
   height: 8px;
   margin-bottom: -5px;
    
}
.typing::after{
    height: 5%;
    width: 2px;
    background-color: transparent;
    position: absolute;
    content: " ";
  bottom: -140px;
left: 960px;
    animation: blinking 1s ease infinite;
}

@keyframes blinking {
    0%{
        opacity: 0;
    }
    100%{
opacity: 1;
    }
}
.pictures{
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.backside-text{
    padding: 4rem;
    color:  rgb(255, 55, 5);
    font-weight: 600;
    z-index:1;
}
.back-button{
padding: .8rem 2rem;
background-color: white;
border-radius: 50px;

border: none;
overflow: hidden;
position: relative;
cursor: pointer;

}
.back-button p{
    margin: 0;
    z-index: 1;
    color: rgb(255, 55, 5);
font-weight: 750;
}
.slide-button{
    background-color: rgba(247, 112, 94, 0.945);
    opacity:0.4;

    border-radius: 50px;
    padding: 1.8rem 5rem;
    margin-top: -29px;
   position: absolute;

   transition: all 0.5s ease;
   left: -160px;
   
   
}

.back-button:hover .slide-button{
    left: -20px;

}

#smoothie-btn{
    background-color: rgb(240, 202, 202);
    padding: 2rem 2.5rem;
    border-radius: 50px;
    border: none;
  cursor: pointer;
  color: rgb(241, 25, 25);
  font-weight: 800;
  margin-left: -50px;

}

#smoothie-btn:hover{
    color:white;
    font-weight: 800;
}

.quote{
    margin-left: -50px;
}
#urgent{
    margin-left: -50px;
}


#review-section{

    width: 100%;
    height: 500px;
    
margin-top: 550px;


}


#image-holder img{
  border-radius: 50%;
  border: 3px solid rgb(128, 16, 16);
height: 200px;
width: 200px;




}



.btn{
    padding: 2rem 2.5rem;
    color: blue;
    border-radius: 50px;
    border: none;
    font-weight: 800;
    cursor: pointer;
}

#front{
    
    left: -40px;
    background-color: rgb(250, 123, 123);
}
#front:hover, #back:hover{
    background-color: rgb(241, 165, 165);
}

#front, #back{
    color: red;
    position: absolute;
    top: 15rem;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    font-size:1.2rem;

}
#back{
  
  
    left: 1000px;
   
     background-color: rgb(250, 123, 123);
}



#review-section h1{
    text-align:center;
    color: rgb(245, 37, 37);
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;

}

#review-holder {
    padding: 2rem 2rem;
    
    background-color: rgb(245, 37, 37);
    width: 70%;
    margin: .5rem auto;
    box-shadow: 10px 10px rgba(139, 139, 139, 0.801);
    border-radius: 20px;

   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

#review-holder h1{
font-family: 'Dancing Script', cursive;
}
.name{
    color: white;
    font-size: 2rem;
}

.job{
    color: rgb(32, 7, 7);
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: -10px;
}
.experience{
color: black;
font-size: 1rem;
font-weight: 600;
margin-top: 0px;
}

.goal{
    color: white;
    font-weight: 500;
    width: 500px;
    height: 90px;
}

.display{
    object-fit: cover;
    border-radius: 50%;
}

#randomBtn{
    color: rgb(241, 23, 23);
}
#randomBtn:hover{
    color: rgb(119, 5, 21);
    cursor: pointer;
}

.fa-quote-left{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 450px;
    left: 260px;
    
}

.fa-quote-right{
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 450px;
    left: 800px;
    

    
}

#FAQ-holder {
width: 100%;

height: 800px;
margin-top: 450px;
z-index: 1;
margin-top: -20rem;
}

#question{
    margin: 2rem auto;
    text-align:center;
    color: rgb(250, 123, 123);
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size:2.5rem;
}

.single-question{
    background-color: rgb(250, 123, 123);
    width: 70%;
    padding: 2rem 2rem;
    margin: 2rem 12rem;
    border-bottom: 2px solid  rgb(250, 123, 123) ;
    position: relative;
    box-shadow: 5px 5px rgb(46, 46, 46);
    
}



.single-question .question{
    text-align: left;
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(182, 17, 17);
    width: 100%;
    
}

.single-question .answer{
    text-align:left;
    display:none;
    width: 600px;
    
}

.single-question .header{
    display:flex;
    
}

.fa-plus-square{
    color: white;
    float: left;
    position: absolute;
    left: 60rem;
    top: 60px;
    width: 2rem;
    cursor: pointer;
    
}
.single-question.active .answer{
    display:block;
}

#info h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    font-size: 2.2rem;
    margin-top: -10px;
}

#modal{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 211, 211, 0.493);
    
    
    position: absolute;
    z-index:1;
    margin-top: -1px;
    left: 20px;
    top: -5px;
    display: none;
 
    
    
    
}

#modal-details h1{
    color: rgb(247, 74, 74);
    font-size: 2rem;
    z-index: 1;
    text-align:center;

}

#modal-details{
    width:50%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    padding: 4rem;
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border-radius: 10px;
    position: sticky;
    animation: modal_movement 5s;
   
    

}


@keyframes modal_movement {
from {
        transform: translateX(2px) translateY(10px) rotate(0deg) scale(0);
    }
   

    to {
        transform: translateX(px) translateY(600px) rotate(270deg) scale(1);
    }
}



.close{
    font-size: 2rem;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 20px;
    left: 67rem;
    color: red;
}




form{
    display: flex;
    flex-direction: column;
    width: 90%;
    


}

form input{
    margin: .6rem auto;
    width: 600px;
    border: none;
    border-bottom: 3px solid rgb(247, 133, 133);
    background-color: transparent;

}

.label-holder:first-child{
    margin-top: 1rem;
}

.label-holder:last-child{
    margin-bottom: 1rem;
}
form input::placeholder{
    color: red;
    font-size: 1rem;
    
}

form #subscribe{
    background-color: rgb(250, 50, 50);
    padding: 1.5rem;
    color: white;
    border-radius: 10px;
    width: 500px;
    border: none;
    margin: 2rem auto;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.1rem;
    overflow: hidden;
    position: relative;
}


#subscribe-slide{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 163, 163);
   opacity: 0.2;
    position: absolute;
    top: 0px;
    left: -500px;
    transition: 3s ease;

}

.fa-minus-square{
    color: white;
}


#subscribe:hover #subscribe-slide{
    left: 1.2px;
}

.label-holder{
    display: flex;
    flex-direction: row;
}

.sign-holder{

    width: 20px;
    height: 20px;
    padding: .3rem;
    margin: .2rem;
   position : absolute;
   left: 250px;



}

.fa-user-circle {color:  rgb(250, 50, 50);
position: absolute;

padding-bottom: 2px;
}

.fa-enevelope-square{
    color:  rgb(250, 50, 50);
    background-color:  rgb(250, 50, 50);
    position: absolute;
    top: .5px;
   
}
#carousel{
  width: 500px;
  height: 500px;
  background-color: pink;
}
.fa-apple{
    color:  rgb(250, 50, 50);
    padding: 4rem;
    

    
}


.button-container{
z-index:1;
margin: 300px 0px;
}


#customize{
    z-index:-1;
    height: 175rem;
    width: 1000px;
    background-color: pink;
   margin: 30rem auto;
   padding: 1.5rem;
   border-radius: 50px;
   font-weight: 800;
   box-shadow: 3px 3px rgba(53, 52, 52, 0.651);
}

#customize h1{
    padding: 2rem;
    text-align:center;
    font-family: 'Dancing Script', cursive;
    color:  rgb(250, 50, 50);
    font-size: 40px;
}
#filter-container{
    display:flex;
    justify-content: space-between;
}
.filter{
    padding: 1.7rem;
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 0rem auto;
    cursor: pointer;
    border: none;
    position: relative;
    overflow: hidden;
    color:  rgb(250, 50, 50);
    font-weight: 550;
}

.filter-slide{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(196, 5, 100, 0.945);
    border-radius:10px;
    top: 2px;
    padding: 0px 8px;
    left: -160px;
    transition: 2.5s ease;
}


.filter:hover .filter-slide{
    left: 3px;
}

#selections{
    margin: 1rem 0;
    width: auto;
    
   padding: 1rem 3rem ;
    display: flex;
    flex-direction: column;
   
   
}
.selection_image{
border-radius: 50%;
width: 200px;
height: 200px;

margin-right: 3rem;
object-fit:cover;
background-position: center center;
}
.detail_name{
    font-size: 2rem;
    color: rgb(250, 50, 50);
}
.detail_category{
    font-size: 1.2rem;
    font-weight: 500;

}
.singleSmoothie{
    display: flex;
margin: 2.5rem 0;
}


footer{
    margin-top: 370rem;
    width: 100%;
    text-align:center;
    font-size: 2.0rem;
    color: white;
    background-color:  rgb(250, 50, 50);
    height: 200px;


}

#footer-container{
   
    padding: 3rem 0;
    width: 90%;
    text-align:center;
    font-size: 1.5rem;
    color: white;
}






.do{
    background-color: rgb(250, 123, 123);
    float: right;
    border: none;
    padding: 1.2rem;
    border-radius: 50%;
   
    top: 90%;
    left: 90%;
    position: fixed;
    visibility: visible;
    text-decoration: none;
    color: white;
    font-weight: 700;
    visibility: hidden;
    animation: resize 3s infinite;
}





.do a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size:1.2rem;
   
}

@keyframes resize{
    0%{
      transform: scale(1)  ;
    }

    50%{
        transform: scale(1.5)
    }
  
    100%{
      transform: scale(1) ;
    }
  }
 
  .close:hover{
    width: 100px;
    height: 100px;
    padding: 1rem;
    background-color: red;
  }


  .fixed-nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  display: flex;
  padding: 3rem;
  background-color: rgb(250, 123, 123);
    z-index: 1;
    color: white;
    justify-content: center;
    align-content: center;
  }


  .fixed-nav #logo{
    height: 15px;
    margin: 0;
  }

  #logo a{
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    background-image: linear-gradient( to top, rgb(248, 31, 67) 50%, rgb(250, 50, 50) 100%);
    font-size: 2rem;
    
  }